$primary   : #ecc30b;
$secondary : #539987;
$accent    : #0075f2;

$dark      : #503d3f;
$dark-page : #503d3f;

$positive  : #539987;
$negative  : #f87171;
$info      : #0075f2;
$warning   : #ecc30b;
