$primary   : #F0D3A0;
$secondary : #A83E03;
$accent    : #0075f2;

$dark      : #203920;
$dark-page : #355431;

$positive  : #A83E03;
$negative  : #E9CC94;
$info      : #0075f2;
$warning   : #F0D3A0;
